<!doctype html>
<html ng-app="rialabs"> 
	<head>
		<title>Angular Directive - Form Item</title>
		<meta charset="utf8">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<style type="text/css">
			
			body{
				background-color: #ddd;
			}

			#main{
				padding: 20px;
			}

		</style>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script type="text/javascript" src="module/rialabs.js"></script>
		<script type="text/javascript" src="directive/riaFormitem.js"></script>
	</head>
	<body>
		
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="index.html">AngularJS Directives - Vedovelli</a>
				<ul class="nav">
					<li><a href="select.html">Select</a></li>
					<li><a href="slider.html">Slider</a></li>
					<li class="active"><a href="form_item.html">Form Item</a></li>
				</ul>
			</div>
		</div>

		<div id="main">

			<h2><a href="https://github.com/vedovelli/angularjs_estudos">Source code on GitHub</a></h2>
			<hr>

			<div ng-controller="CtrlForm">
				<h2>Twitter Bootstrap horizontal form item</h2>
				
				<form class="form-horizontal">
					
					<!-- Directive applied as an attribute with a value, that is the config object declared in the controller -->
					<div ria-formitem="name_config" ng-model="name"></div>
					<div ria-formitem="email_config" ng-model="email"></div>
					
					<button class="btn btn-large" ng-click="change('name','Maggie')">Change 'name' value</button>
					<button class="btn btn-large" ng-click="change('email', '123@gmail.com')">Change 'e-mail' value</button>
					<button class="btn btn-large" ng-click="submit()">Send</button>
					<p><code>{{result}} - JSON ready to be sent to the server</code></p>
				</form>
			</div>

			<hr>

			<script src="https://gist.github.com/3742911.js"> </script>

		</div>

		<script src="//static.getclicky.com/js" type="text/javascript"></script>
		<script type="text/javascript">try{ clicky.init(5254); }catch(e){}</script>

	</body>
</html>
