<!doctype html>
<html ng-app="rialabs"> <!-- determina que o documento todo estará a disposição do AngularJS como template -->
	<head>
		<title>Angular Directive</title>
		<meta charset="utf8">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="plugin/select2-2.1/select2.css">
		<style type="text/css">
			#main{
				padding: 20px;
			}

			.slider_container{
				border: #ccc 1px solid;
				width: 800px;
				height: 200px;
			}
		</style>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script type="text/javascript" src="plugin/select2-2.1/select2.min.js"></script>
		<script type="text/javascript" src="plugin/jquery.ssslider.js"></script>
		<script type="text/javascript" src="module/rialabs.js"></script>
		<script type="text/javascript" src="directive/riaSelect.js"></script>
		<script type="text/javascript" src="directive/riaSSSlider.js"></script>
	</head>
	<body>

		<div id="main">

			<div ng-controller="Ctrl"><!-- A partir daqui, o controller Ctrl cuidará do comportamento -->
				
				<h2>Select2</h2>

				<!--
					O select é um elemento HTML padrão, que recebe algumas diretivas para se comportar
					de forma a ser manipulado pelo AngularJS. 
					- ng-model="estado" determina que a variavel estado no riaSelect.js receberá o valor selecionado no select.
						Por outro lado, quando a variável for modificada no arquivo javascript, a alteração será refletida no select.
					- ria-select é a diretiva que transforma o <select> no Select2. Necessita da inclusão do plugin. Ver no <header> deste documento. O valor passado para a diretiva (estados_config) está declarado no riaSelect.js e contém um objeto de configuração para o Select2. Este objeto será resgatado dentro da diretiva e utilizado. O objeto é opcional!
				-->
				<select style="width:300px" ng-model="estado" ria-select="estados_config">
					<option></option>
					<option ng-repeat="estado in estados" value="{{estado.value}}" ng-cloak>{{estado.name}}</option>
				</select>
				<br>
				<select style="width:300px" ng-model="cidade" ria-select="cidades_config">
					<option></option>
					<option ng-repeat="cidade in cidades" value="{{cidade.value}}" ng-cloak>{{cidade.name}}</option>
				</select>
				<br>
				<button class="left" ng-click="salvar()">Salvar</button>
				<button class="left" ng-click="load()">Carregar Info</button>
				<button class="left" ng-click="reset()">Reset</button>
				<br>
				Estado: {{estado}}
				<br>
				Cidade: {{cidade}}

			</div><!-- Final do escopo de atuação do controller Ctrl -->
			


			<hr>



			<!-- Super Simple Slider como diretiva -->
			<div ng-controller="CtrlSlider">
				<h2>SSSlider</h2>
				<div class="slider_container" ria-ssslider>
					<div style="background-color:#ccc">1</div>
					<div style="background-color:#ddd">2</div>
					<div style="background-color:#eee">3</div>
					<div style="background-color:#f4f4f4">4</div>
				</div>
				<button ng-click="change_prev()">Prev</button>
				<button ng-repeat="pos in panes_length" ng-click="navegar(pos)">Pane {{pos+1}}</button>
				<button ng-click="change_next()">Next</button>
			</div>
			<hr>
			<a href="https://github.com/vedovelli/angularjs_estudos">Código fonte no GitHub</a>
		</div>
	</body>
</html>
