<!doctype html>
<html ng-app="rialabs">
	<head>
		<title>Angular Directive</title>
		<meta charset="utf8">
		<link rel="stylesheet" href="plugin/select2-2.1/select2.css">
		<style type="text/css">

		</style>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script type="text/javascript" src="plugin/select2-2.1/select2.min.js"></script>
		<script type="text/javascript" src="directive/riaSelect.js"></script>
	</head>
	<body>

		<div ng-controller="Ctrl">
			
			<select style="width:300px" ng-model="estado" ria-select="estados_config">
				<option></option>
				<option ng-repeat="estado in estados" value="{{estado.value}}" ng-cloak>{{estado.name}}</option>
			</select>
			<br>
			<select style="width:300px" ng-model="cidade" ria-select="cidades_config">
				<option></option>
				<option ng-repeat="cidade in cidades" value="{{cidade.value}}" ng-cloak>{{cidade.name}}</option>
			</select>
			<br>
			<button ng-click="salvar()">Salvar</button>
			<br>
			<button ng-click="load()">Carregar</button>
			<br>
			<button ng-click="reset()">Reset</button>

		</div>
	</body>
</html>
