<!doctype html>
<html ng-app="rialabs">

	<head>
		<title>Angular Directive - Select</title>
		<meta charset="utf8">
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="plugin/select2-2.1/select2.css">
		<style type="text/css">
			
			body{
				background-color: #ddd;
			}

			#main{
				padding: 20px;
			}

		</style>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script type="text/javascript" src="plugin/select2-2.1/select2.min.js"></script>
		<script type="text/javascript" src="module/rialabs.js"></script>
		<script type="text/javascript" src="directive/riaSelect.js"></script>
	</head>
	<body>

		<!-- Ribbon -->
		<a href="https://github.com/vedovelli/angularjs_estudos"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="index.html">AngularJS Directives - Vedovelli</a>
				<ul class="nav">
					<li class="active"><a href="select.html">Select</a></li>
					<li><a href="slider.html">Slider</a></li>
					<li><a href="form_item.html">Form Item</a></li>
				</ul>
			</div>
		</div>

		<div id="main">

			<h2><a href="https://github.com/vedovelli/angularjs_estudos">Source code on GitHub</a></h2>
			<hr>

			<div ng-controller="Ctrl">
				
				<h2>Select2</h2>
				<p><a href="http://ivaynberg.github.com/select2/">Select2 Plugin website</a></p>

				<!-- Directive applied as an attribute with a value, that is the config object declared in the controller -->
				<select style="width:300px" ng-model="state" ria-select="states_config">
					<option></option>
					<option ng-repeat="state in states" value="{{state.value}}" ng-cloak>{{state.name}}</option>
				</select>
				<br>
				
				<!-- Directive applied as an attribute with a value, that is the config object declared in the controller -->
				<select style="width:300px" ng-model="city" ria-select="cities_config">
					<option></option>
					<option ng-repeat="city in cities" value="{{city.value}}" ng-cloak>{{city.name}}</option>
				</select>
				<br>
				
				<button class="btn btn-large" ng-click="save()">Save</button>
				<button class="btn btn-large" ng-click="load()">Load Info</button>
				<button class="btn btn-large" ng-click="reset()">Reset</button>
				<br>
				State: {{state}}
				<br>
				City: {{city}}
				<br>
				<code ng-show="result">{{result}} - JSON ready to send to server</code>

			</div><!-- Final do escopo de atuação do controller Ctrl -->
			<hr>
			<script src="https://gist.github.com/3742804.js"> </script>

		</div>

		<script src="//static.getclicky.com/js" type="text/javascript"></script>
		<script type="text/javascript">try{ clicky.init(5254); }catch(e){}</script>

	</body>
</html>
